sudo: required
dist: trusty
addons:
  chrome: stable

language: python
python:
  - "3.6.3"      # current default Python on Travis CI


before_install:
  - echo $PATH
  - mkdir /tmp/chromedriver
  - wget https://chromedriver.storage.googleapis.com/78.0.3904.70/chromedriver_linux64.zip -O /tmp/chromedriver/chromedriver.zip
  - unzip /tmp/chromedriver/chromedriver.zip -d /tmp/chromedriver
  - chmod 700 /tmp/chromedriver/chromedriver
#  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

install:
  - pip install -r test/requirement.txt

before_script:
  - export PATH=$PATH:/tmp/chromedriver
  - google-chrome-stable --version
  - chromedriver --version

script:
  - cd test
  - pytest  --cov=./
#  - pytest  --cov=./  --driver Chrome --driver-path  /tmp/chromedriver/chromedriver


after_success:
#  public repo on Travis CI
  - bash <(curl -s https://codecov.io/bash)

# private repo
# - bash <(curl -s https://codecov.io/bash) -t your-repository-upload-token